.btn {
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	background-color: $secondary;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	display: block;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	&:disabled {
		background-color: gray;
	}
}
